# Server Configuration
HOSTNAME=localhost
PORT=8080

TEXT_SECRET_KEY=
DISCORD_WEBHOOK=

# Directories - Can be absolute paths (e.g., /path/to/data) or relative to project root
DATA_DIR=data
TEMP_DIR=temp
LOG_DIR=log
DB_FILE=db/database.json
BACKUP_DATA_DIR=mirror

# Backup Settings
BACKUP=false

# Encryption Settings
MAX_BYTE_FOR_KEY=256

# Transfer Settings
EXPIRE_TIME=30